<div>

    <h2 translate="mtApp.tenantConfig.home.title">TenantConfig</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTenantConfigModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="mtApp.tenantConfig.home.createLabel">Create a new TenantConfig</span>
    </button>
    <div class="modal fade" id="saveTenantConfigModal" tabindex="-1" role="dialog" aria-labelledby="myTenantConfigLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTenantConfigLabel" translate="mtApp.tenantConfig.home.createOrEditLabel">Create or edit a TenantConfig</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tenantConfig.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="mtApp.tenantConfig.url">Url</label>
                            <input type="text" class="form-control" name="url"
                                   ng-model="tenantConfig.url">

                            <div ng-show="editForm.url.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenantConfig.username">Username</label>
                            <input type="text" class="form-control" name="username"
                                   ng-model="tenantConfig.username">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenantConfig.password">Password</label>
                            <input type="text" class="form-control" name="password"
                                   ng-model="tenantConfig.password">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTenantConfigConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tenantConfig.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mtApp.tenantConfig.delete.question" translate-values="{id: '{{tenantConfig.id}}'}">Are you sure you want to delete this TenantConfig?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="mtApp.tenantConfig.url">Url</th>
                    <th translate="mtApp.tenantConfig.username">Username</th>
                    <th translate="mtApp.tenantConfig.password">Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tenantConfig in tenantConfigs">
                    <td><a ui-sref="tenantConfigDetail({id:tenantConfig.id})">{{tenantConfig.id}}</a></td>
                    <td>{{tenantConfig.url}}</td>
                    <td>{{tenantConfig.username}}</td>
                    <td>{{tenantConfig.password}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tenantConfigDetail({id:tenantConfig.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(tenantConfig.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tenantConfig.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
