<div>

    <h2 translate="mtApp.tenant.home.title">Tenant</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTenantModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="mtApp.tenant.home.createLabel">Create a new Tenant</span>
    </button>
    <div class="modal fade" id="saveTenantModal" tabindex="-1" role="dialog" aria-labelledby="myTenantLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTenantLabel" translate="mtApp.tenant.home.createOrEditLabel">Create or edit a Tenant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tenant.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="mtApp.tenant.tenantName">TenantName</label>
                            <input type="text" class="form-control" name="tenantName"
                                   ng-model="tenant.tenantName">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.dbHost">DbHost</label>
                            <input type="text" class="form-control" name="dbHost"
                                   ng-model="tenant.dbHost">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.dbPort">DbPort</label>
                            <input type="number" class="form-control" name="dbPort"
                                   ng-model="tenant.dbPort">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.dbName">DbName</label>
                            <input type="text" class="form-control" name="dbName"
                                   ng-model="tenant.dbName">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.dbUserName">DbUserName</label>
                            <input type="text" class="form-control" name="dbUserName"
                                   ng-model="tenant.dbUserName">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.dbPassword">DbPassword</label>
                            <input type="text" class="form-control" name="dbPassword"
                                   ng-model="tenant.dbPassword">

                        </div>
                        <div class="form-group">
                            <label translate="mtApp.tenant.isEnabled">IsEnabled</label>
                            <input type="checkbox" class="form-control" name="isEnabled"
                                   ng-model="tenant.isEnabled">

                        </div>

                        <div class="form-group">
                            <label translate="mtApp.tenant.dbtype">dbtype</label>
                            <select class="form-control" name="dbtype" ng-model="tenant.dbtype.id" ng-options="dbType.id as dbType.dbType for dbType in dbtypes">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTenantConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tenant.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mtApp.tenant.delete.question" translate-values="{id: '{{tenant.id}}'}">Are you sure you want to delete this Tenant?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="mtApp.tenant.tenantName">TenantName</th>
                    <th translate="mtApp.tenant.dbHost">DbHost</th>
                    <th translate="mtApp.tenant.dbPort">DbPort</th>
                    <th translate="mtApp.tenant.dbName">DbName</th>
                    <th translate="mtApp.tenant.dbUserName">DbUserName</th>
                    <th translate="mtApp.tenant.dbPassword">DbPassword</th>
                    <th translate="mtApp.tenant.isEnabled">IsEnabled</th>
                    <th translate="mtApp.tenant.dbtype">dbtype</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tenant in tenants">
                    <td><a ui-sref="tenantDetail({id:tenant.id})">{{tenant.id}}</a></td>
                    <td>{{tenant.tenantName}}</td>
                    <td>{{tenant.dbHost}}</td>
                    <td>{{tenant.dbPort}}</td>
                    <td>{{tenant.dbName}}</td>
                    <td>{{tenant.dbUserName}}</td>
                    <td>{{tenant.dbPassword}}</td>
                    <td>{{tenant.isEnabled}}</td>
                    <td>{{tenant.dbtype.dbType}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tenantDetail({id:tenant.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(tenant.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tenant.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
